@import'./reset.scss';

 $메인칼라 : #aae61f;

 @mixin 함수() {
    ackground: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.red {   
    color: $메인칼라;
}
.my-alert {
    @include 함수()
}



.my-alert2 {
    @extend .my-alert;
    background: #ffe591;

}

.my-alert p{
    margin-bottom: 0;
}

.wow-enter{
    opacity: 0;
    
}

.wow-enter-active{
    opacity: 1;
    transition:  all 500ms;
}

// div.container{
//     h4{
//         color:blue;
//     }
//     p {
//         color:green;
//     }
// }